/**********************TAG-SELECTOR*******************************/
/**override all tag**/
h1{
    font-size: 50px;
}

/**********************CLASS-SELECTOR*****************************/
/**class for any of uses for groupping similar style**/
.pepega{
    background-color: green;
    transition: background-color 0.5s;
}

.pepega:hover{
    background-color: red;
}

.omegaLUL{
    width: 20%;
    height: 7.5em;
    background-color: black;
}

.omegaLUL:hover{
    transform: scale3d(2.5, 1.2, 0.3);
}

.circular{
    border-radius: 100%;
}


/**********************ID-SELECTOR********************************/
/**for unique id , specific selector **/
#h1-pepega{
    color: green;
}